[Desktop Entry]
Version=1.0
Type=Application

Name=Nett Icon Viewer
Comment=View all the icons in gtk themes
Categories=Development;

Icon=codes.blaine.NettIconViewer
Exec=nett-icon-viewer
Terminal=false
